.select {
  border-radius: 9px;
  padding: var(--s);
  padding-right: 40px;
  color: var(--black);
  font-size: var(--body3-size);
  display: flex;
  border: none;
  width: 100%;
  background: var(--interface-gray100);
  border-radius: 8px 8px 0px 0px;
}
