.user {
  display: flex;
  justify-content: flex-start;
}

.profile__column {
  flex-direction: column;
}

.profile__row {
  flex-direction: row;
}

.user__items {
  display: flex;
  flex-direction: column;
}
