.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 712px;
  width: 100%;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  border: none;
}

.modal__content {
  min-height: 56px;
}

.modal::backdrop {
  background: rgba(195, 195, 195, 0.5);
  animation: none;
}

.modal[open]::backdrop {
  animation: show-backdrop 0.5s ease-in-out;
}

.modal__close-icon {
  position: absolute;
  top: var(--m);
  right: var(--m);
}

.modal__close-icon:hover {
  cursor: pointer;
}

@keyframes show-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide-backdrop {
  to {
    opacity: 0;
  }
}
