.member {
    width: 70px;
    height: 70px;
    border-radius: 50% 50%;
    background-color: var(--interface-gray100);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.member__image {
    width: 90px;
}

.member__emoji {
    font-size: 33px;
    position: absolute;
    top: 0;
    margin-top: 6px;
}