.member {
    width: 190px;  
    display: flex;
    justify-content: flex-start;
    position: relative;
    margin-right: 10px;
    flex-direction: column;
    
}

.member__image {
    width: 90px;
    position: relative;
}

.member__emoji {
    font-size: 30px;  
    margin-bottom: 10px;
}

.ul_member {
    display: flex;
    padding: 3px;
    justify-content: space-between;
}
