:root {
  --primary-color: #F0DC28;
  --interface-gray800: #333333;
  --interface-gray600: #8B9DA6;
  --interface-gray400: #C4CFD4;
  --interface-gray200: #E4EAED;
  --interface-gray100: #F6F8F9;
  --dynamic-blue: #50C9FC;
  --dynamic-pink: #FFA1C4;
  --dynamic-orange: #FFAB30;
  --dynamic-green: #17D78E;
  --dynamic-red: #E23F3F;
  --white: #FFFFFF;
  --black: #000000;
  --headers-font: 'Montserrat', sans-serif;
  --h1-size: 60px;
  --h2-size: 48px;
  --h3-size: 40px;
  --h4-size: 32px;
  --h5-size: 24px;
  --h6-size: 22px;
  --paragraphs-font: 'Inter';
  --sub1-size: 28px;
  --sub2-size: 18px;
  --body1-size: 18px;
  --body2-size: 16px;
  --body3-size: 14px;
  --xs: 8px;
  --s: 12px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
  --xxl: 40px;
  --width-xxl: 1232px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.h1 {
  color: var(--interface-gray-800, #333);
  font-feature-settings: 'ss01' on;
  font-family: var(--headers-font);
  font-size: var(--h1-size);
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.45px;
}

.h2 {
  color: var(--interface-gray-800, #333);
  font-family: var(--headers-font);
  font-size: var(--h2-size);
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.h3 {
  color: var(--interface-gray-800, #333);
  font-family: var(--headers-font);
  font-size: var(--h3-size);
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.h4 {
  color: var(--interface-gray-800, #333);
  font-family: var(--headers-font);
  font-size: var(--h4-size);
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.h5 {
  color: var(--interface-gray-800, #333);
  font-family: var(--headers-font);
  font-size: var(--h5-size);
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.h6 {
  color: var(--interface-gray-800, #333);
  font-family: var(--headers-font);
  font-size: var(--h6-size);
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.sub1 {
  color: var(--interface-gray-800, #333);
  font-family: var(--paragraphs-font);
  font-size: var(--sub1-size);
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.sub2 {
  color: var(--interface-gray-800, #333);
  font-family: var(--paragraphs-font);
  font-size: var(--sub2-size);
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.4px;
}

.bodytext1 {
  color: var(--interface-gray-800, #333);
  font-family: var(--paragraphs-font);
  font-size: var(--body1-size);
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.bodytext1_semibold {
  font-weight: 700;
}

.bodytext2 {
  color: var(--interface-gray-800, #333);
  font-family: var(--paragraphs-font);
  font-size: var(--body2-size);
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.bodytext2_semibold {
  font-weight: 600;
}

.bodytext3 {
  color: var(--interface-gray-800, #333);
  font-family: var(--paragraphs-font);
  font-size: var(--body3-size);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.bodytext3_semibold {
  font-weight: 600;
}

.bodytext3_medium {
  font-weight: 500;
}
