body {
  min-height: 100%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  margin-top: var(--xl);
  justify-content: center;
  align-items: center;
}

.cta {
  position: relative;
  margin-top: 160px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: var(--width-xxl);
}

.cta__text {
  display: flex;
  flex-direction: column;
  gap: var(--xl);
  max-width: 460px;
}

.cta__button {
  width: 100%;
}

.cta__image {
  border: var(--m) solid var(--interface-gray200);
  border-radius: var(--xl);
}

.cta__shape-square {
  position: absolute;
  z-index: 100;
  top: -100px;
  left: 50px;
}

.cta__shape-cube {
  position: absolute;
  z-index: 100;
  bottom: -150px;
  right: 100px;
}

.values {
  margin-top: 240px;
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 460px;
  align-items: center;
  justify-content: center;
}

.about {
  margin-top: 160px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.about__info {
  height: 300px;
}
