.vstack {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: var(--m);
  height: max-content;
  background-color: var(--white);
  margin-bottom: var(--m);
}

.vstack_3col {
  width: 296px;
}

.vstack_6col {
  width: 100%;
  max-width: 608px;
}

.vstack_9col {
  max-width: 920px;
}

.vstack__bottom {
  margin-bottom: 10px;
}